body{
   background-color: white;
   padding-top: 100px;
}

header {
    margin: 0;
    width: 100%;
    top: 0;
    line-height: 55px;
}

h1, h3, h4, h6{
     font-family: Arial, Helvetica, sans-serif;
     letter-spacing: 3px;
     color: #666666;
 }

h2{
     font-family: Arial, Helvetica, sans-serif;
     letter-spacing: 3px;
 }

p{
     font-family: Arial, Helvetica, sans-serif;
     letter-spacing: 1px;
     color: #666666;
 }

/* Navigation */
#logo{
  font-size: 70px;
  color: rgb(181, 196, 151);
  text-shadow: 2px 2px #666666;
  padding-left: 20px;
}

#menu{
    font-size: 20px;
    list-style-type: none;
    letter-spacing: 2px;
    list-style:none;   
    color: #666666;
}

#menu li {
    float: right;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* Intro */

#intro{
  padding-top: 30px;
}

#intro-title{
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: black;
  text-shadow: 2px 2px #666666;
  font-size: 50px;
}

.spacing{
  padding-left: 20px;
  padding-right: 20px;
}

/* Color Theme */

.light {
    background-color: rgb(181, 196, 151);
  }

.dark {
    background-color: rgb(40, 189, 60);
    }

/* Maps */

#map {
        height: 600px;
        margin-top: 30px;
        border: dotted;
        margin-bottom: 30px;
}

/* Clock */

.clock_background {
    background:url(../images/pixabay9.jpg);
    background-size:cover;
    margin: 0;
    font-size: 2rem;
    min-height: 50vh;
    align-items: center;
  }

  .clock {
    width: 30rem;
    height: 30rem;
    border:20px solid white;
    border-radius:50%;
    margin:50px auto;
    position: relative;
    padding:2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
  }

  .hand {
    width:50%;
    height:6px;
    background:white;
    position: absolute;
    top:50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
.no-transition {
  transition: none;
  transition-timing-function: linear;
}

/* Locations */

.column-dark-green{
  background-color: rgb(181, 196, 151);
  height: 350px;
  padding-top: 20px;
}

.column-light-gray{
  background-color: #E8E8E8;
  height: 350px;
  padding-top: 20px;
}

.column-light-green{
  background-color: rgb(214, 230, 214);
  height: 350px;
  padding-top: 20px;
}

#amstelmeer, #brace, #herkingen, #houtribdijk, #houw, #kuitje, #ouddorp{
  margin-top: -80px;
}

/*  surf images  */

.windsurf1{
    height:350px;
    width: 100%;
    background: url("../images/pixabay1.jpg") no-repeat center center;
    background-size: cover; 
}

.windsurf2{
    height:350px;
    width: 100%;
    background: url("../images/pixabay2.jpg") no-repeat center center;
    background-size: cover; 
}

.windsurf3{
    height:350px;
    width: 100%;
    background: url("../images/pixabay3.jpg") no-repeat center center;
    background-size: cover; 
}

.windsurf4{
    height:350px;
    width: 100%;
    background: url("../images/pixabay4.jpg") no-repeat center center;
    background-size: cover; 
}

.windsurf5{
    height:350px;
    width: 100%;
    background: url("../images/pixabay5.jpg") no-repeat top center;
    background-size: cover; 
}

.windsurf6{
    height:350px;
    width: 100%;
    background: url("../images/pixabay6.jpg") no-repeat center center;
    background-size: cover; 
}

.windsurf7{
    height:350px;
    width: 100%;
    background: url("../images/pixabay7.jpg") no-repeat center center;
    background-size: cover; 
}

.windsurf8{
    height:350px;
    width: 100%;
    background: url("../images/pixabay8.jpg") no-repeat center center;
    background-size: cover; 
}

/* Footer   */

footer{ 
  background-color: rgb(181, 196, 151);
  margin-top: 30px;
}

.social-networks{
    text-align: center;
    line-height: 60px;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 30px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 25px;
    color: #777777;
}

@media only screen and (max-width: 736px) {
  #intro-title{
  font-size: 35px;
  }
  .responsive_theme{
    font-size: 10px;
  }
  .social-networks i {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* Clock */
  .clock {
    width: 22rem;
    height: 16rem;
    border:10px solid white;   
  }
   .responsive_theme H6 {
  font-size: 10px;
  }
    .responsive_theme {
  font-size: 10px;
  }
}

/* @media Pixel 2 */

@media only screen and (min-width: 411px) and (max-width: 731px) {
  .column-dark-green, .column-light-gray, .column-light-green{
  height: 400px;
  }
  /* Clock */
  .clock {
    width: 40rem;
    height: 20rem;    
  }
   .responsive_theme H6 {
  font-size: 12px;
  }
  .responsive_theme {
  font-size: 12px;
  }
}


/* @media Iphone5/SE */

@media only screen and (min-width: 320px) and (max-width: 568px) {
  #intro-title{
  font-size: 25px;
  }
  .column-dark-green, .column-light-gray, .column-light-green{
  height: 460px;
  }
  .social-networks i {
    padding-left: 10px;
    padding-right: 10px;
  }
  .windsurf4{
    background: url("../images/pixabay4.jpg") no-repeat right center;
  }
  /* Clock */
  .clock {
    width: 19rem;
    height: 19rem;    
  }
  #logo{
  font-size: 50px;
  }
}

/* @media IPad */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #intro-title{
  font-size: 35px;
  }
  .column-dark-green, .column-light-gray, .column-light-green{
  height: 450px;
  }
  .windsurf1, .windsurf2, .windsurf3, .windsurf4, .windsurf5, .windsurf6, .windsurf7, .windsurf8{
    height:450px;
  }
  .windsurf4{
    background: url("../images/pixabay4.jpg") no-repeat right center;
  }
  .social-networks i {
    padding-left: 25px;
    padding-right: 25px;
  }
   .responsive_theme H6 {
  font-size: 25px;
  }
  .responsive_theme {
  font-size: 25px;
  }
}

/* @media IPad Pro */

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  /* Clock */
  .clock {
    width: 40rem;
    height: 30rem;    
  }
  .responsive_theme H6 {
  font-size: 35px;
  }
  .responsive_theme {
  font-size: 35px;
  }
}

/* @media Surface Duo */

@media only screen and (min-width: 450px) and (max-width: 600px) {
   .responsive_theme H6 {
  font-size: 12px;
  }
  .responsive_theme {
  font-size: 12px;
  }
  }

/* @media Galaxy Fold */

@media only screen and (min-width: 280px) and (max-width: 653px) {
  /* Clock */
  .clock {
    width: 15rem;
    height: 5rem;    
  }
   #logo{
  font-size: 50px;
  }
 /* Footer   */

footer{ 
  background-color: rgb(181, 196, 151);
  margin-top: 30px;
}

.social-networks{
    text-align: center;
    line-height: 50px;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    color: #777777;
}

H2 {
  font-size: 17px;
}
.windsurf4{
    background: url("../images/pixabay4.jpg") no-repeat right center;
  }
}
